<div class="ml-ppos-account-wrapper">
	<div class="ml-ppos-management-container">
		<!-- Management Title Start -->
		<div class="ml-ppos-management-row">
			<div class="ml-ppos-management-title">
				<a href="" ng-click="goToManagementScreen()"><i class="ml-ppos-mini-white-icon ml-ppos-arrow-left"></i><span translate="lbl.ppos.management"/></a>
			</div>
		</div>
		<!-- Management Title End -->
		<!-- Settings Start -->
		<form novalidate>
			<!-- Error Block Start -->
			<div class="ml-ppos-error-container" data-ng-show="posSettingsModel.showMessage">
				<div class="ml-icon-error" id="divMsgIconContainer"></div>
				<div class="ml-ppos-error-message">
					<div>{{ posSettingsModel.message | translate }}</div>
				</div>
			</div>
		<!-- Error Block End -->
			<!-- PEBL-16140 : Commented for phase 1, uncomment in Phase 2 - STARTS -->
			<!--
			<div class="ml-ppos-settings-row">
				<div><span translate="hdr.ppos.posScreenSettings"/></div>
			</div>
			
			<div class="ml-ppos-settings-row ml-ppos-settings-row-indent">
				<div class="ml-ppos-settings-label">
					<div><span translate="hdr.ppos.autoLockScreen"/></div>
					<div><span translate="hdr.ppos.autoLockScreenInactivity"/></div>
				</div>
							
				<div class="ml-ppos-settings-value ml-ppos-toggle-container">
					<div class="ml-ppos-toggle btn-group btn-toggle">
						<label class="ml-ppos-toggle-button btn" ng-class="{active : timeout == posSettingsModel.userSetTimeout}" data-ng-repeat="timeout in posSettingsModel.timeoutArray">
							<input type="radio" name="selectedTimeout" id="selectedTimeout" value="{{ timeout }}" data-ng-model="posSettingsModel.userSetTimeout" data-ng-change="saveChanges(posSettingsModel);"/> <span translate="lbl.ppos.timeoutMinutes" translate-values="{ timeout: timeout }"></span>
						</label>
					</div>
				</div>
			</div>
			-->
			<!-- PEBL-16140 : Commented for phase 1, uncomment in Phase 2 - ENDS -->
			<!-- Stores -->
			<div class="ml-ppos-settings-row">
				<div class="ml-ppos-settings-store-location">
					<div><span translate="lbl.ppos.storeLocation"/></div>
					<div>{{ posSettingsModel.storeLocation | translate }}</div>
				</div>
			</div>
			<!-- Stores -->
			<div class="ml-ppos-settings-row ml-ppos-settings-row-indent">
				<div class="ml-ppos-settings-label">
					<div><span translate="lbl.ppos.nearbyStores"/></div>
					<div><span translate="lbl.ppos.nearbyStoresDistance"/></div>
				</div>
				<div class="ml-ppos-settings-value ml-ppos-toggle-container">
					<div class="ml-ppos-toggle btn-group btn-toggle">
						<label class="ml-ppos-toggle-button btn" ng-class="{active : radius == posSettingsModel.userSetRadius}" data-ng-repeat="radius in posSettingsModel.radiusArray">
							<input type="radio" name="selectedRadius" id="selectedRadius" value="{{ radius }}" data-ng-model="posSettingsModel.userSetRadius" data-ng-change="saveChanges(posSettingsModel);"/> <span translate="lbl.ppos.storeRadius" translate-values="{ storeRadius: radius }"></span>
						</label>
					</div>
				</div>
			</div>

		</form>
	</div>
</div>
