<div class="ml-ppos-login-wrapper ml-ppos-login-main-column" data-ng-controller="loginController">
	<div class="ml-ppos-login-main-container">
		<div class="ml-ppos-error-container" data-ng-show="showLoginFailureMessage">
			<div class="ml-icon-error"></div>
			<div class="ml-ppos-error-message">
				<div>{{ loginFailureMessage | translate }}</div>
			</div>
		</div>
		
		<div class="ml-ppos-login-container">
			<form novalidate data-ng-submit="login(userCredentials)">
				<div class="ml-ppos-login-label" translate="lbl.ppos.login.username"></div>

				<div class="ml-ppos-login-label-content">
					<input type="text" name="loginId" id="loginId" class="form-control" data-ng-model="userCredentials.loginId" placeholder="{{ 'msg.ppos.login.enterUsername' | translate }}" autocorrect="off" autocapitalize="off" />
				</div>

				<div class="ml-ppos-login-label" translate="lbl.ppos.login.password"></div>

				<div class="ml-ppos-login-label-content">
					<input type="password" name="password" id="password" class="form-control ml-ppos-login-label-password" data-ng-model="userCredentials.password" placeholder="{{ 'msg.ppos.login.enterPassword' | translate }}" />
				</div>

				<div class="ml-ppos-login-button-container">
					<button type="submit" name="loginButton" class="ml-ppos-login-button" id="loginButton" translate>btn.ppos.login.loginButton</button>
				</div>
			</form>
		</div>
	</div>
</div>
